{% extends "tabata/layout.html" %}

{% block body %}

<section class="content">
    <div class="content__form-wrapper">
        <form action="" method="post" class="content__form-wrapper__form">
        {% csrf_token %}
        <input type="password" name="old_password" placeholder="Старий пароль" class="content__form-wrapper__form__field">
        <input type="password" name="new_password" placeholder="Новий пароль" class="content__form-wrapper__form__field">
        <input type="password" name="confirm_new_password" placeholder="Підтвердження нового пароля" class="content__form-wrapper__form__field">
        <input type="submit" value="Змінити" class="btn">
        {% if msg %}
        <span class="content__form-wrapper__msg">{{ msg }}</span>
        {% else %}
        {% endif %}
    </form>
</div>


</section>


{% endblock %}