{% extends "tabata/layout.html" %}
{% load static %}
{% block body %}

<section class="content">
    <h3 class="content__title">Протокол Табата</h3>
    <p class="content__description">Протокол Табата - це метод високоінтенсивних інтервальних кардіо та силових тренувань. 
        Головними особливостями даного методу є короткі тренувальні сесії та часте чергування періодів високої активності та відпочинку.</p>
    <ol class="content__list">
        <li class="content__list__item">
            <h6>Історія виникнення</h6>
            <p>Історія даної системи тренувань почалась у 80-х роках з досліджень японського вченого <a href="https://en.wikipedia.org/wiki/Izumi_Tabata">Ізумі Табата (Ідзумі Табата)</a>.
                Метою досліджень була розробка системи тренувань, яка дозволила б швидко розвинути витривалість спортсменів. 
                Ізумі Табата та команда вчених з Національного інституту фітнесу та спорту в Токіо вибрали дві групи велогонщиків та 
                провели шеститижневий експеримент.</p>
            <img src="{%  static 'tabata/tabata-izumi-500x268.jpg' %}" alt="" class="content__list__item__img">
            <p> Група середньої інтенсивності тренувалась п’ять днів на тиждень по годині,
                в той час як група високої інтенсивності тренувалась чотири дні в тиждень лише по 4 хвилини, чергуючи фази високої інтенсивності (з доведенням максимального споживання кисню до 170 %) та короткого відпочинку. 
                По закінченню шести тижнів команда вчених порівняла результати. Якщо перша тренувальна група покращила лише аеробні показники 
                (серцево-судинну систему), то у другої спостерігалося покращення показників і аеробної (більш істотні), і анаеробної систем.
                Таким чином, експеримент продемострував дієвість такого підходу інтервальних тренувань і став кроком до подальших досліджень.
                Результати були опубліковані у 1996-1997 роках у статтях 
        <a href="https://pubmed.ncbi.nlm.nih.gov/8897392/">"Effects of moderate-intensity endurance and high-intensity intermittent training on anaerobic capacity and VO2max"</a> та 
                <a href="https://pubmed.ncbi.nlm.nih.gov/9139179/">"Metabolic profile of high intensity intermittent exercises"</a>.
            </p>
        </li>
        <li class="content__list__item">
            <h6>Особливості тренувань</h6>
            <p>Протокол Табата це один з видів <a href="https://en.wikipedia.org/wiki/High-intensity_interval_training">ВІІТ (HIIT)</a>. З поміж інших його вирізняють короткі періоди тренувань - 4 хв. 
                Протягом 4-х хвилин тренування відбувається почергова зміна 20-ти секундних періодів високої інтенсивності роботи та 10-ти секундних періодів відпочинку. Загалом, 8 таких циклів. 
                Найбільш ефективними вправами по методу Табата є кардіо-вправи (біг, велосипед ...) та коплексні силові (віджимання, вибухові присідання ...). В межах тренування вправи можна комбінувати.
            </p>
        </li>
        <li class="content__list__item">
            <h6>Переваги</h6>
            <ul class="content__list__item__list2">
                <li>Висока ефективність для схуднення. Через інтервальний характер навантаження підвищений рівень метаболізму зберігається тривалий час (18-36 год) після тренувань.</li>
                <li>Підвищує тонус м'язів та покращує витривалість.</li>
                <li>Тренування не займають багато часу.</li>
                <li>З певними обмеженнями доступні для людей різного віку та фізичної підготовки.</li>
                <li>Нема потреби в спеціальному обладнанні, тренуватись можна будь-де.</li>
            </ul>
        </li>
        <li class="content__list__item">
            <h6>Застереження</h6>
            <p>Не рекомендується використовувати даний метод тренувань для людей з серцево-судинними захворюваннями, проблемами опорно-рухового апарату, вагітним, людям на низько-вуглеводних дієтах.</p>
        </li>
    </ol>
</section>


{% endblock %}