{% extends "tabata/layout.html" %}

{% block body %}

<section class="content">
    <p>
        <br>
        Я, користувач сайту tabata-in-ukraine.herokuapp.com (далі – Суб’єкт персональних даних), відповідно до вказаної
        мною інформації
        на сайті tabata-in-ukraine.herokuapp.com, керуючись Законом України «Про захист персональних даних»
        цим надаю дозвіл на обробку моїх персональних даних (відомостей та сукупностей відомостей про мене)
        у Базі користувачів веб-сайту tabata-in-ukraine.herokuapp.com, на наступних умовах:
        <br><br>
        Суб’єкт персональних даних цим надає свою згоду на внесення та використання своїх персональних даних у
        Базі користувачів веб-сайту tabata-in-ukraine.herokuapp.com та на обробку своїх персональних даних
        Володільцем (зокрема, на збирання, реєстрацію, накопичення, зберігання,
        адаптування, зміну, поновлення, використання і поширення, знеособлення,
        знищення персональних даних, у тому числі з використанням інформаційних (автоматизованих)
        систем та інші дії, які може вчиняти Володілець з його персональними даними:
        електронні ідентифікаційні дані (IP-адреса, логін, електронна пошта),
        а також інші персональні дані та відомості, які надаються на виконання
        вимог чинного законодавства.
        <br><br>
        Володілець зобов’язуються відповідно до вимог законодавства України у сфері захисту
        персональних даних забезпечити належний захист персональних даних від
        незаконної обробки, а також від незаконного доступу до них.
        <br><br>
        Згідно з Законом України «Про захист персональних даних», Суб’єкт персональних даних має право: <br>
        1) знати про джерела збирання, місцезнаходження своїх персональних даних,
        мету їх обробки, місцезнаходження або місце проживання (перебування) володільця чи розпорядника персональних
        даних або дати відповідне доручення щодо отримання цієї інформації уповноваженим ним особам, крім випадків,
        встановлених законом;
        <br>
        2) отримувати інформацію про умови надання доступу до персональних даних, зокрема інформацію про третіх осіб,
        яким передаються його персональні дані;
        <br>
        3) на доступ до своїх персональних даних;
        <br>
        4) отримувати не пізніш як за тридцять календарних днів з дня надходження запиту, крім випадків, передбачених
        законом, відповідь про те, чи обробляються його персональні дані, а також отримувати зміст таких персональних
        даних;
        <br>
        5) пред’являти вмотивовану вимогу володільцю персональних даних із запереченням проти обробки своїх персональних
        даних;
        <br>
        6) пред’являти вмотивовану вимогу щодо зміни або знищення своїх персональних даних будь-яким володільцем та
        розпорядником персональних даних, якщо ці дані обробляються незаконно чи є недостовірними;
        <br>
        7) на захист своїх персональних даних від незаконної обробки та випадкової втрати, знищення, пошкодження у
        зв’язку з умисним приховуванням, ненаданням чи несвоєчасним їх наданням, а також на захист від надання
        відомостей, що є недостовірними чи ганьблять честь, гідність та ділову репутацію фізичної особи;
        <br>
        8) звертатися із скаргами на обробку своїх персональних даних до Уповноваженого або до суду;
        <br>
        9) застосовувати засоби правового захисту в разі порушення законодавства про захист персональних даних;
        <br>
        10) вносити застереження стосовно обмеження права на обробку своїх персональних даних під час надання згоди;
        <br>
        11) відкликати згоду на обробку персональних даних;
        <br>
        12) знати механізм автоматичної обробки персональних даних;
        <br>
        13) на захист від автоматизованого рішення, яке має для нього правові наслідки.
        <br><br>
        Ця згода діє протягом невизначеного терміну.
        Цим я також підтверджую, що до надання даної згоди (в момент збору персональних даних) я ознайомлений з:
        <br>
        правами, наданими мені відповідно до чинного законодавства про персональні дані,
        інформацією про джерела збирання, місцезнаходження своїх персональних даних,
        місцезнаходження або місце проживання володільця, склад та зміст зібраних персональних даних, мету збору
        та обробки моїх персональних даних, термін зберігання, умови відкликання згоди, а також з іншою інформацією в
        простій та зрозумілій формі,
        що дозволяє мені дати інформовану, добровільну та свідому згоду на обробку моїх персональних даних.
    </p>




</section>


{% endblock %}